@{ await IncludeAsync("Templates.Header.cshtml", @Model); }

<p>
    GP @Model.GP.Title
</p>

@foreach (var day in @Model.GP.Days)
{
    <p>@day.Title</p>
    
    <ul>
    @foreach (var video in day.Videos) {
        <li>
            <a href="@video.Url">@video.Title</a>
        </li>   
    }
    </ul>
}