@model GPList.ViewModel<GPList.Gp>

@{ await IncludeAsync("Templates.Header.cshtml", @Model); }

<ul class="video-list">
    @foreach (var grouping in @Model.Model.VideosByChampionship)
    {
        <li class="video-group">
            <h3 class="championship-item">@grouping.Key</h3>
            <ul class="championship-group">
                @foreach (var video in grouping) 
                {
                    <li class="video-item">
                        <a href="@Raw(video.SpoilerFreeUrl)" target="_blank">@video.Title</a><span class="tag">@(video.IsHighlights ? " (highlights)" : "")</span>
                    </li>
                }
            </ul>
        </li>
    }
</ul>

@{ await IncludeAsync("Templates.Footer.cshtml"); }