@model GPList.ViewModel<GPList.YearData>

@{ await IncludeAsync("Templates.Header.cshtml", @Model); }

<ul class="gp-list">

@foreach (var gp in @Model.Model.GPs.OrderBy(gp => gp.Date))
{
    <li class="gp-list-item menu-item">
        <div class="gp">
            <a href="./@(Model.Model.Title)/@(gp.ShortName).html">
                <div class="event-container">
                    <div class="date-container">
                        <div class="day">
                            @gp.Date.Day
                        </div>
                        <div class="month">
                            @gp.Date.ToString("MMM")
                        </div>
                    </div>
                    <div class="event-name-container">
                        <div class="gp-short-name">@gp.UrlName</div>
                        <div class="gp-long-name">@gp.Title</div>
                    </div>
                </div>
            </a>
        </div>
    </li>
}

</ul>

@{ await IncludeAsync("Templates.Footer.cshtml"); }